    :root {
        --body-bg-color: #f5f5f5;
        --body-font-color: #2b2b2b;
        --body-font-size: 3.2rem;
    }

html {
    font-size: 62.5%;
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-font-color);
    font-size: var(--body-font-size);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

